html {
  background-color: #fb6107;
}

.contentWrapper {
  text-align: center;
  background-color: #f3de2c;
  margin: 20px 0;
  padding-bottom: 20px;
}

header {
  padding: 40px 0;
}

.gridContainer {
  margin: 20px 50px;
  background-color: white;
}

footer {
  text-align: center;
  padding: 20px 0;
}
